<launch>
<!-- Launch file for Livox AVIA LiDAR -->

	<arg name="rviz" default="true" />

	<rosparam command="load" file="$(find fast_livo2)/config/NTU_VIRAL.yaml" />

	<node pkg="fast_livo2" type="fastlivo_mapping" name="laserMapping" output="screen">
		<rosparam file="$(find fast_livo2)/config/camera_NTU_VIRAL.yaml" />
	</node>
	
	<group if="$(arg rviz)">
		<node launch-prefix="nice" pkg="rviz" type="rviz" name="rviz" args="-d $(find fast_livo2)/rviz_cfg/ntu_viral.rviz" />
	</group>
</launch> 	
